{% extends "base.html" %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
<h2 class="text-center mb-4">Iniciar sesión</h2>
<form method="POST" class="card card-marino p-4 mx-auto" style="max-width: 400px;">
    <div class="mb-3">
        <label class="form-label">Email:</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Contraseña:</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-morado w-100">Ingresar</button><br/>
    <div>No tienes tu cuenta activa? contactanos <a href="mailto:serpientesdelorigen@gmail.com">aquí</a></div><br/>
    <div class="text-center"><a href="https://www.serpientesdelorigen.com">Regresar al sitio web</a></div>
</form>
{% if error %}
    <div class="alert alert-danger mt-3 text-center">{{ error }}</div>
{% endif %}
{% endblock %}
