{% extends "base.html" %}
{% block title %}Clases disponibles{% endblock %}
{% block content %}
<h2 class="mb-4 text-center">Clases de <strong>{{ curso.nombre }}</strong></h2>

<div class="row">
  {% for clase in clases %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card card-morado h-100">
        {% if clase.tipo == 'video' %}
          <video class="card-img-top" muted preload="metadata" style="pointer-events: none; max-height: 200px; object-fit: cover;">
            <source src="{{ url_for('student.ver_video', file_id=clase.archivo_id) }}" type="video/mp4">
          </video>
        {% else %}
          <img src="{{ url_for('static', filename='img/text_placeholder.jpg') }}" class="card-img-top" style="max-height: 200px; object-fit: cover;">
        {% endif %}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ clase.titulo }}</h5>
          <p class="card-text">{{ clase.descripcion }}</p>
          <a href="{{ url_for('student.ver_clase_individual', clase_id=clase._id) }}" class="btn btn-morado mt-auto">Ver clase</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<a href="/student/panel" class="btn btn-secondary mt-4">Volver al panel</a>
{% endblock %}
